* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f7f9;
    width: 100%;
    height: 100%;
    margin: 0;
}

.header-cores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fa2d8a;
}

.header-cores h1 {
    color: #ffffff;
    margin-left: 50px;
}

.header-cores img {
    height: 32px;
    margin-right: 50px;
}